.chat-main
  .chat-main__header
    .chat-main__header__left-contents
      %p.chat-main__header__left-contents__groupname= @group.name
      %a.chat-main__header__left-contents__menber Menber:
      - @group.users.each do |user|
        %a.chat-main__header__left-contents__menber= user.name
    .chat-main__header__right-contents
      = link_to 'Edit', edit_group_path(@group.id) , class: 'chat-main__header__right-contents__edit'

  .chat-main__main
    - @messages.each do |message|
      .chat-main__main__contents{data: {message: {id: message.id}}} 
        .chat-main__main__contents__user
          %a.chat-main__main__contents__user__name= message.user.name
          %a.chat-main__main__contents__user__date= message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .chat-main__main__contents__message 
          %p.chat-main__main__contents__message__content= message.text if message.text.present?
          = image_tag message.picture.url, class: "chat-main__main__contents__message__image" if message.picture.present?
  .chat-main__type-message
    = form_for [@group, @message] do |f|
      .chat-main__type-message__form
        = f.text_field :text, placeholder: 'type a message', class: 'chat-main__type-message__form__text'
        %label
          = icon('far', 'image', class: 'chat-main__type-message__form__icon')
          = f.file_field :picture, class: 'chat-main__type-message__form__file'
      = f.submit 'Send', class: 'chat-main__type-message__btn'