.side-bar
  .side-bar__header
    .side-bar__header__center-box
      = link_to current_user.name, "#", class: "username"
      .side-bar__header__center-box__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'icon')
          %span<>
        = link_to "#" do
          = icon('fa', 'cog', class: 'icon')
  .side-bar__groupname
    .side-bar__groupname__boxes
      %p.side-bar__groupname__boxes__tag techcamp
      %p.side-bar__groupname__boxes__message まだメッセージがありません
    .side-bar__groupname__boxes
      %p.side-bar__groupname__boxes__tag techcamp
      %p.side-bar__groupname__boxes__message まだメッセージがありません