.side-bar
  .side-bar__header
    .side-bar__header__center-box
      #a.username= current_user.name
      .side-bar__header__center-box__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: 'icon')
          %span<>
        = link_to edit_user_path(current_user.id) do
          = icon('fa', 'cog', class: 'icon')
  .side-bar__groupname
    - current_user.groups.each do |group|
      .side-bar__groupname__boxes
        = link_to group.name, group_messages_path(group.id), class: "side-bar__groupname__boxes__tag"
        = link_to "まだメッセージがありません", group_messages_path(group.id), class: "side-bar__groupname__boxes__message"